@import 'fonts.scss';
@import 'colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web';
}

body {
    background-color: #fff;
}
button {
    cursor: pointer;
}
.product__features {
    display: flex;
    max-width: 1044px;
    min-height: 354px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.product__features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    flex: 25%;
}
.product__features-item-img {
    height: 100px;
    img {
        height: 70px;
    }
}
.product__features-item-title {
    max-width: 140px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 142.9%;
    text-transform: uppercase;
    text-align: center;
    sup {
        font-size: 10px;
    }
}

.product__motto {
    height: 600px;
    background: url(../images/product-motto-bg.png) no-repeat center;
    background-size: cover;
}

.product__motto-title {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-family:'Roboto';
    font-weight: 300;
    font-size: 42px;
    line-height: 199.7%;
    color: #fff;
    text-align: center;
    padding: 0 25px;
}


.btn {
    width: 85px;
    height: 40px;
    background-color: $blue;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    border-radius: 4px;
    transition: .5s ease;
    &:hover {
        background-color: lighten($blue, 7%);
    }
}

.btn__product-buy {
    margin-left: 57px;
}

.product__options-overlay {
    min-height: 650px;
    background-color: $black-bg;
    width: 100%;
}
.product__options {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 1262px;
    margin: 0 auto;
    padding: 89px 25px;
}
.product__options-desc {
    display: flex;
    flex-direction: column;
    z-index: 2;
    
}
.product__options-desc-title {
    font-weight: 300;
    font-size: 32px;
    line-height: 44.45px;
    color: #fff;
    h3 {
        text-transform: uppercase;
        sup {
            font-size: 16px;
        }
    };
    p {
        font-size: 18px;
        line-height: 25px;

    }
}
.product__options-desc-bot {
    position: relative;
    left: 29px;
}
.product__options-desc-item {
    position: relative;
    font-weight: normal;
    font-size: 21px;
    line-height: 168.9%;
    color: #fff;
    list-style: none;
    &::before {
        content: '';
        position: absolute;
        top: 14px;
        left: -29px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $blue;
    }
    sup {
        font-size: 10px;
        color: #fff;
    }
}


.product__options-desc-top {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}

.product__options-image {
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 20%;
}


.product__included {
    background-color: $gray-bg;
}
.product__included-wrap {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1084px;
    padding: 87px 0 70px;
}
.product__included-img {
    margin-right: 100px;
    img {
        width: 574px;
        height: 363px;
    }
}


.product__included-descr-title {
    font-weight: normal;
    font-size: 42px;
    line-height: 100%;
    color: #000;
}
.product__included-descr-list { 
    list-style: none;
    margin: 24px 0;
}
.product__included-descr-list-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    padding-bottom: 22px;
    &:last-child {
        padding-bottom: 0;
    }
}



@media screen and (max-width: 1140px) {
    .product__included-wrap {
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 979px) {
    .product__included-wrap {
        flex-wrap: wrap;
    }
    .product__included-img {
        margin-left: 100px;
    }
    .product__included-descr { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
}


@media screen and (max-width: 768px) {
    .product__features {
        flex-wrap: wrap;
    }
    .product__features-item {
        padding-bottom: 22px;
        height: 170px;
        flex: 50%;
    }
    .product__motto-title {
        font-weight: bold;
        font-size: 14px;
        line-height: 142.9%;
    }
    .product__options {
        flex-wrap: wrap;
    }
    .product__options-image {
        opacity: .4;
    }
}

@media screen and (max-width: 600px) {
    .product__options-desc-bot {
        left: 25px;
    }
    .product__options-image {
        right: 0;
    }
    .product__included-img {
        margin: 0 20px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .product__options-desc-item {
        width: 90%;
    }
}
