@import 'fonts.scss';
@import 'colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Titillium Web';
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}
ul {
    list-style: none;
}
label {
    cursor: pointer;
}
button {
    outline: none;
    border: none;
    cursor: pointer;
}
.product__features {
    display: flex;
    max-width: 1044px;
    min-height: 354px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.product__features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    flex: 25%;
}
.product__features-item-img {
    height: 100px;
    img {
        height: 70px;
    }
}
.product__features-item-title {
    max-width: 140px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 142.9%;
    text-transform: uppercase;
    text-align: center;
    sup {
        font-size: 10px;
    }
}

.product__motto {
    height: 600px;
    background: url(../images/product-motto-bg.png) no-repeat center;
    background-size: cover;
}

.product__motto-title {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-family:'Roboto';
    font-weight: 300;
    font-size: 42px;
    line-height: 199.7%;
    color: #fff;
    text-align: center;
    padding: 0 25px;
}


.btn {
    width: 85px;
    height: 40px;
    background-color: $blue;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    transition: .5s ease;
    &:hover {
        background-color: lighten($blue, 7%);
    }
}

.btn__product-buy {
    margin-left: 57px;
}

.product__options-overlay {
    background-color: $black-bg;
    width: 100%;
}
.product__options {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 1262px;
    margin: 0 auto;
    padding: 89px 25px 40px;
}
.product__options-desc {
    display: flex;
    flex-direction: column;
    z-index: 2;
    
}
.product__options-desc-title {
    font-weight: 300;
    font-size: 32px;
    line-height: 44.45px;
    color: #fff;
    h3 {
        text-transform: uppercase;
        sup {
            font-size: 16px;
        }
    };
    p {
        font-size: 18px;
        line-height: 25px;

    }
}
.product__options-desc-bot {
    position: relative;
    left: 29px;
}
.product__options-desc-item {
    position: relative;
    font-weight: normal;
    font-size: 21px;
    line-height: 168.9%;
    color: #fff;
    list-style: none;
    &::before {
        content: '';
        position: absolute;
        top: 14px;
        left: -29px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $blue;
    }
    sup {
        font-size: 10px;
        color: #fff;
    }
}


.product__options-desc-top {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}

.product__options-image {
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 20%;
}


.product__included {
    background-color: $gray-bg;
}
.product__included-wrap {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1084px;
    padding: 87px 0 70px;
}
.product__included-img {
    margin-right: 100px;
    img {
        width: 574px;
        height: 363px;
    }
}


.product__included-descr-title {
    font-weight: normal;
    font-size: 42px;
    line-height: 100%;
    color: #000;
}
.product__included-descr-list { 
    list-style: none;
    margin: 24px 0;
}
.product__included-descr-list-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    padding-bottom: 22px;
    &:last-child {
        padding-bottom: 0;
    }
}


.product__qanda {
    max-width: 1134px;
    margin: 0 auto;
    padding: 69px 25px;
}

.product__qanda-item {
    padding: 20px 0;
    border-top: 1px solid #D1D1D1;
    &:last-child {
        border-bottom: 1px solid #D1D1D1;
    }
}


.product__quanda-title {
    background: transparent;
    width: 100%;
    text-align: left;
    font-weight: normal;
    font-size: 21px;
    line-height: 42px;
    position: relative;
    padding-right: 80px;
    &::after, &::before {
        content: '';
        position: absolute;
        width: 14px;
        height: 2px;
        background-color: #000;
        top: 50%;
        right: 50px;
        transition: .5s ease;
    }
    &::after {
        transform: rotate(90deg);
    }
    &::before {
        transform: rotate(0deg);
    }
    &.active {
        &::after {
            transform: rotate(0deg);
        }
    }
}
.product__quand-text {
    padding: 30px 0 0 30px;
    font-size: 18px;
}
.active {
    display: block !important;
}
.product__quand-text {
    display: none;
}

.pre-footer {
    display: flex;
    flex-direction: column;
}
.pre-footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1919;
    color: #fff;
    height: 57px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2em;
}

.pre-footer-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding-bottom: 63px;
    h3 {
        padding-bottom: 25px;
        
    }
}

.pre-footer-logo {
    width: 135px;
    height: 25px;
    margin: 37px 0 17px;
}
.pre-footer-shop {
    display: flex;
    width: 468px;
    justify-content: space-between;
}

.pre-footer-shop-link {
    display: flex;
}
.pre-footer-shop-img  {
    display: flex;
    &.rebel-pro {
        width: 214px;
        height: 78px;
    }
    &.rebel-pro-mini {
        width: 244px;
        height: 78px;
    }
}

.footer {
    max-width: 1204px;
    margin: 0 auto;
    padding: 38px 30px 15px;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    h4 {
        font-weight: bold;
        line-height: 144.19%;
        color: #000;
    }
}

.footer-join-us {
    margin: 0 105px 39px 0;
    
}

.footer-subscribe-form {
    label {
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
    }

}

.footer-social-list {
    display: flex;
    position: relative;
    left: -5px;
    margin: 12px 0 44px;
}
.footer-social-list__item {
    margin-right: 9px;
    svg rect {
        transition: .5s ease;
    }
    &:hover svg rect {
        fill: $blue;
    }
}

.footer-bot {
    display: flex;
    p {
        font-family: 'Roboto';
    }
}
.footer-subscribe-email {
    display: flex;
    align-items: center;
    margin-top: 13px;
}
.footer-subscribe-input-email {
    width: 408px;
    height: 54px;
    padding: 20px;
    outline: 1px solid #D1D1D1;
    border: none;
    font-size: 16px;
    line-height: 24px;
    &:active, &:focus {
        outline: 1px solid $blue;
    }
}
.footer-subscribe-input-subm {
    width: 142px;
    height: 56px;
    background-color: $blue;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: lighten($blue, 7%);
    }
}

.footer-payments {
    display: flex;
}

.footer-terms-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $footer-gray;
    margin-top: 15px;
    a {
        color: $footer-gray;
    }
}

.footer-nav {
    margin-right: 109px;
    margin-top: 10px;
    a {
        text-decoration: none;
        color: #000;
    }
}

.footer-nav-item {
    padding-bottom: 13px;
}

.footer-bot {
    margin-top: 39px;
    justify-content: space-between;
}

.footer-payment-item {
    margin-left: 18px;
    transition: .5s ease;
    filter: grayscale(1);
    &:hover {
        filter: none;
    }
}

@media screen and (max-width: 1140px) {
    .product__included-wrap {
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 979px) {
    .product__included-wrap {
        flex-wrap: wrap;
    }
    .product__included-img {
        margin-left: 100px;
    }
    .product__included-descr { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
}


@media screen and (max-width: 768px) {
    .product__features {
        flex-wrap: wrap;
    }
    .product__features-item {
        padding-bottom: 22px;
        height: 170px;
        flex: 50%;
    }
    .product__motto-title {
        font-size: 36px;
    }
    .product__options {
        flex-wrap: wrap;
    }
    .product__options-image {
        opacity: .4;
    }
    .product__quanda-title::after, .product__quanda-title::before {
        right: 0;
    }
}

@media screen and (max-width: 600px) {
    .product__options-desc-bot {
        left: 25px;
    }
    .product__options-image {
        right: 0;
    }
    .product__included-img {
        margin: 0 20px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .product__options-desc-item {
        width: 90%;
    }
    .product__motto-title {
        font-size: 2em;
    }
    .pre-footer-shop {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 30px 30px;
    }
    .pre-footer-shop-link:first-child {
        margin-bottom: 15px;
    }
    .product__quanda-title {
        font-size: 18px;
    }
    .product__quand-text {
        font-size: 16px;
    }
    .product__quanda-title {
        padding-right: 40px;
    }
    .pre-footer h3{
        font-size: 18px;
    }
    .product__options {
        padding-top: 40px;
    }
    .pre-footer-shop-img  {
        &.rebel-pro-mini {
            width: 214px;
            height: auto;
        }
    }
    .product__motto-title {
        position: relative;
        top: 150px;
        font-size: 24px;
    }
    .footer-subscribe-email {
        flex-wrap: wrap;
    }
    .footer-subscribe-input-subm {
        margin-top: 10px;
    }
    .footer-top {
        justify-content: space-between;
    }
    .footer-join-us {
        margin-right: 0;
    }
    .footer-nav {
        margin-right: 50px;
    }
    .footer-bot {
        justify-content: center;
        flex-wrap: wrap;
        p {
            margin-bottom: 10px;
        }
    }
    .footer-subscribe-input-email {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .pre-footer-shop {
        width: auto;
    }
    .footer-quick-links {
        margin-bottom: 30px;
    }
    .footer-bot {
        text-align: center;
    }
    .footer-bot p {
        font-size: 12px;
    }
}